./assets
.vscode
/vendor/
node_modules/
/ApacheFolder/
.env
/core/views/cache/
static/contracts/
static/passengers/
templates/components/contract.html.twig
templates/components/voucher.html.twig
templates/components/attachment2.html.twig
config/currencies.json
static/search/
todo.php
./public_html/assets/images/stamps/