{% extends "base.html.twig" %}
{% block content %}
	<div class="container-xs container-sm container-md container-xl">
	

		<div class="row w-100 mt-2 mb-2">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 text-center">
				<p class="h1" id="main-page-h1">{{ header }}</p>
			</div>
		</div>

		<div class="row w-100">
			<div class="col-md-1 col-xl-3"></div>
			<div class="col-xs-12 col-sm-12 col-md-10 col-xl-6">
				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">
							Название
							<span class="text-danger">*</span>
						</span>
						<input required type="text" class="form-control" name="text" id="name" placeholder="Введите название гостиницы"/>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Курорт
							<span class="text-danger">*</span>
						</span>
						<select required name="country" id="resort-id" name="select" class="btn btn-success dropdown-toggle w-75">
							{% for resort in resorts %}
								<option value="{{ resort.id }}">{{ resort.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Адрес</span>
						<input type="text" class="form-control" name="text" id="address" placeholder="Введите адрес гостиницы"/>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Номера
							<span class="text-danger">*</span>
						</span>
						<input required type="number" class="form-control" name="text" id="rooms" placeholder="Введите количество номеров"/>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Территория</span>
						<textarea id="area" class="form-control" rows="1" placeholder="Опишите территорию отеля"></textarea>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Корпус</span>
						<textarea id="housing" class="form-control" rows="1" placeholder="Опишите корпус отеля"></textarea>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Пляж</span>
						<textarea class="form-control" id="beach" rows="1" placeholder="Опишите пляж гостиницы"></textarea>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Заезды</span>
						<input type="number" name="text" class="form-control" id="number" placeholder="Количество заездов"/>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Вода</span>
						<input type="text" class="form-control" id="water" name="text" placeholder="Опишите воду в гостинице"/>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Питание</span>
						<input type="text" class="form-control" id="food" name="text" placeholder="Опишите питание"/>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Особенности</span>
						<textarea class="form-control" id="features" placeholder="Опишите особенности гостиницы" rows="1"></textarea>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Описание</span>
						<textarea class="form-control" id="description" placeholder="Добавьте описание" rows="1"></textarea>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">Статус
							<span class="text-danger">*</span>
						</span>
						<select name="is-active" id="is-active" name="select" class="btn btn-success dropdown-toggle w-75">
							<option value="0">Не доступна</option>
							<option value="1">Доступна</option>
						</select>
					</div>
				</div>

				<div class="row w-100 mb-2">
					<div class="input-group w-100 mb-2">
						<button type="button" class="btn btn-success w-100" id="save-btn" disabled>
							Сохранить
						</button>
					</div>
				</div>

				<div class="row w-100 mb-150">
					<p class="text-center text-danger" id="error-field"></p>
				</div>
			</div>

			<script type="text/javascript" src="/assets/scripts/hotels/create.js"></script>
			<script type="text/javascript" src="/assets/scripts/hotels/formFilled.js"></script>
		</div>
	{% endblock %}
