<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" type="image/x-icon" href="/favicon.ico">
            <title>{% block title %}{{ title|upper }}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block logout %}
        {% endblock %}
        <div id="footer">
            {% block footer %}
                    <footer class="bg-dark text-white fixed-bottom">
                        <div class="row w-100">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1">
                                <p>{{ author }}</p>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1"></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1">
                                <button type="button" class="btn btn-secondary w-auto mt-1" id="logout-btn">Logout</button>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-xl-1"></div>
                        </div>
                    </footer>
            {% endblock %}
        </div>
        <script src="/assets/scripts/login/logout.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>