{% extends "base.html.twig" %}

{% block content %}

<div class="row w-100 mt-2 mb-2">
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 text-center">
        <h1 class="h1 m-1" id="main-page-h1">{{ header }}</h1>
    </div>
</div>


<div class="container container-sm container-md container-xl mt-1 mb-5">
    <p hidden id="rooms-sets">{{ rooms_sets }}</p>

    <div class="row w-100 mb-2">
        <div class="col-md-1 col-xl-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-xl-6 text-center">
            <div class="input-group">
                <span class="input-group-text w-25 border-secondary">Гостиница
                    <span class="text-danger">*</span>
                </span>
                <select id="hotel" class="btn btn-outline-dark dropdown-toggle w-75">
                    <option value="0"></option>
                    {% for h in hotels %}
                    <option class="bg-light text-success" value="{{ h.id }}">{{ h.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row w-100 mb-2">
        <div class="col-md-1 col-xl-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-xl-6 text-center">
            <div class="input-group">
                <span class="input-group-text w-25 border-secondary">Дата въезда
                    <span class="text-danger">*</span>
                </span>
                <select id="checkin-date" class="btn btn-outline-dark dropdown-toggle w-25">
                    <option value="0"></option>
                </select>
                <span class="input-group-text w-25 border-secondary">Дата выезда
                    <span class="text-danger">*</span>
                </span>
                <select id="checkout-date" class="btn btn-outline-dark dropdown-toggle w-25">
                    <option value="0"></option>
                </select>
            </div>
        </div>
    </div>

    <div class="row w-100 mb-2">
        <div class="col-md-1 col-xl-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-xl-6 text-center">
            <div class="input-group w-100 mb-2">
                <button type="button" class="btn btn-success w-100" id="prepare-list">Подготовить список</button>
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-md-1 col-xl-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-xl-6 text-center">
            <p id="error-field"></p>
        </div>
    </div>

    <script type="text/javascript" src="/assets/scripts/guests/prepareList.js"></script>
    <script type="text/javascript" src="/assets/scripts/guests/addDates.js"></script>
</div>
{% endblock %}