body {
    background-color: rgb(0, 57, 57);
    height: fit-content;
    width: 100%;
}

.container {
    background-color: rgb(204, 198, 153);
    width: 80%;
    padding: 50px 30px;
    position: relative;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
    height: fit-content;
}

.navbar {
    background-color: rgb(204, 198, 153);
}

.h1, .h5 {
    color:rgb(204, 198, 153);
}

textarea {
    background-color: rgb(249, 244, 212);
}

textarea.form-control {
    background-color: rgb(249, 244, 212);
}