{% extends "base.html.twig" %} {% block content %}
<div class="container-xs container-sm container-md container-xl w-100">
    {% use 'components/navBar.html.twig' %} {% block nav %} {{ parent() }} {%
    endblock %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
        <p class="h1 m-auto text-center mt-5 mb-3">{{ header | upper }}</p>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 text-center">
            <select class="form-select">
                {% for hotel in hotels %}
                <option>{{ hotel.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


</div>
{% endblock %}