{% block table %}
<table class="table table-sm table-hover text-center" id="table">
  <tr>
    <th scope="col"><input type="checkbox" id="check-all" /></th>
    <th scope="col">id</th>
    <th scope="col">Название</th>
    <th scope="col"></th>
  </tr>
  {% for c in contracts %}
  <tr>
    <td><input name="select" type="checkbox" value="{{ c.id }}" /></td>
    <td>{{ c.id }}</td>
    <td>{{ c.name }}</td>
    <td>
      <a class="btn btn-success" href="/contracts/edit/{{ c.id }}"
        >Исправить</a
      >
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
