{% block contract %}
                                                                                          <p><span style="font-weight:bold;font-family:var bs-body-font-family serif;font-size:16px;color:#212529;">irianna_logo<br></span></p><br><p></p>
          
          
          
          
          {% endblock %}