{% block contract %}
                  <p style="text-align: left;" align="center"><strong>hotel_name resort_name</strong></p>
<p style="text-align: left;" align="center"><strong>Территория</strong></p>
<p style="text-align: left;" align="center">hotel_area</p>
<p style="text-align: left;" align="center"><strong>Пляж</strong></p>
<p style="text-align: left;" align="center">hotel_beach</p>
<p style="text-align: left;" align="center"><strong>Корпуса</strong></p>
<p style="text-align: left;" align="center">hotel_housing</p>
<p style="text-align: left;" align="center"><strong>Номер</strong></p>
<p style="text-align: left;" align="center">room_description</p>
<p style="text-align: left;" align="center"><strong>Вода</strong></p>
<p style="text-align: left;" align="center">room_water</p>
<p style="text-align: left;" align="center"><strong>Питание</strong></p>
<p style="text-align: left;" align="center">room_food</p>
<p style="text-align: left;" align="center"><strong>Отличительные особенности</strong></p><p style="text-align: left;" align="center"><span style="font-size: 1rem;">hotel_features</span></p><p style="text-align: left;"><strong style="font-size: 1rem;">Сроки тура:&nbsp; from_minsk_date&nbsp;</strong><span style="font-size: 1rem;">- </span><b style="font-size: 1rem;">arrival_to_minsk</b></p><p><strong style="font-size: 1rem;"><span data-mce-mark="1">Дата и время убытия из Минска</span></strong><strong style="font-size: 1rem;"><span data-mce-mark="1">:</span></strong><span data-mce-mark="1" style="font-size: 1rem;">&nbsp;from_minsk_date&nbsp;</span><span style="font-size: 1rem;">-&nbsp;ул. Сурганова 61 (бизнес - центр «Зебра») – в </span><b style="font-size: 1rem;">06.30</b><span style="font-size: 1rem;">&nbsp;&nbsp;&nbsp; (время убытия указывается ориентировочно, точное время&nbsp; сообщается за сутки до выезда)</span></p>
<p><strong>Транспорт:</strong>&nbsp; автобус</p><p><strong style="font-size: 1rem;">Проживание:</strong><span style="font-size: 1rem;">&nbsp; hotel_address</span></p><p><strong style="font-size: 1rem;">Питание:&nbsp;</strong><span style="font-size: 1rem;">чай, кофе (в дороге)</span><strong style="font-size: 1rem;">Маршрут:</strong><span style="font-size: 1rem;">&nbsp; &nbsp; &nbsp;bus_route</span></p><p><strong style="font-size: 1rem;">Трансфер:</strong><span style="font-size: 1rem;">&nbsp; да</span></p><p><strong style="font-size: 1rem;">Программа тура:&nbsp;</strong><span style="font-size: 1rem;">информационно-консультационные услуги,&nbsp; бронирование мест в пансионатах и гостиницах, транспортные услуги</span></p>
<p>&nbsp;<span style="text-align: center; font-size: 1rem;"><strong>Примечание:</strong></span><span style="text-align: center; font-size: 1rem;">&nbsp; &nbsp; attachment_note</span></p><p><span style="font-size: 1rem;">ОДО «ИриАнна»,&nbsp;</span><span style="font-size: 1rem;">г. Минск ул. Сурганова, 61, оф.504,&nbsp;</span><span style="font-size: 1rem;">тел. 292 04 02, факс 388 04 02,&nbsp;</span><span style="font-size: 1rem;">р/с 3012014461250,&nbsp;</span><span style="font-size: 1rem;">ф-л № 514 АСБ «Беларусбанк», код 614,&nbsp;</span><span style="font-size: 1rem;">УНН 190135143, ОКПО37535316</span></p><p><span style="font-size: 1rem;"><br></span></p><p><span style="font-size: 1rem;"><br></span></p><p><span style="font-size: 1rem;"><br></span></p><p><span style="font-size: 1rem;"><b>client_name</b></span></p><p><span style="font-size: 1rem;">__________________________________________</span></p>
          {% endblock %}