{% block dashboard %}

<div class="container w-75">
    
    <div class="row w-100">
        <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <a class="btn btn-lg btn-primary w-100 m-2 p-5" id="countries-btn" href="/countries">Страны</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <button class="btn btn-lg btn-secondary w-100 m-2 p-5" id="resorts-btn">Курорты</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <button class="btn btn-lg btn-success w-100 m-2 p-5" id="hotels-btn">Отели</button>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <button class="btn btn-lg btn-primary w-100 m-2 p-5" id="tours-btn">Туры</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <button class="btn btn-lg btn-secondary w-100 m-2 p-5" id="buses-btn">Автобусы</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <button class="btn btn-lg btn-success w-100 m-2 p-5" id="clients-btn">Клиенты</button>
        </div>
    </div>

    <div class="row w-100 mb-5">
        <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <button class="btn btn-lg btn-primary w-100 m-2 p-5" id="periods-btn">Периоды</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <button class="btn btn-lg btn-secondary w-100 m-2 p-5" id="templates-btn">Шаблоны</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <button class="btn btn-lg btn-success w-100 m-2 p-5" id="managers-btn">Менеджеры</button>
        </div>
    </div>




</div>



{% endblock %}