{% block dashboard %}

<div class="container w-75">
  <div class="row w-100">
    <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
      <div class="btn-group-vertical w-100 m-1">
        <a
          class="btn btn-lg btn-primary w-100 p-4"
          id="countries-btn"
          href="/countries"
          >Страны</a
        >
        <a
          class="btn btn-lg btn-success w-100 p-4"
          id="countries-btn"
          href="/countries/new"
          >Добавить</a
        >
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
      <div class="btn-group-vertical w-100 m-1">
        <a
          class="btn btn-lg btn-primary w-100 p-4"
          id="countries-btn"
          href="/resorts"
          >Курорты</a
        >
        <a
          class="btn btn-lg btn-success w-100 p-4"
          id="countries-btn"
          href="/resorts/new"
          >Добавить</a
        >
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
      <div class="btn-group-vertical w-100 m-1">
        <a
          class="btn btn-lg btn-primary w-100 p-4"
          id="countries-btn"
          href="/hotels"
          >Отели</a
        >
        <a
          class="btn btn-lg btn-success w-100 p-4"
          id="countries-btn"
          href="/hotels/new"
          >Добавить</a
        >
      </div>
    </div>
  </div>

  <div class="row w-100">
    <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
      <div class="btn-group-vertical w-100 m-1">
        <a
          class="btn btn-lg btn-primary w-100 p-4"
          id="countries-btn"
          href="/tours"
          >Туры</a
        >
        <a
          class="btn btn-lg btn-success w-100 p-4"
          id="countries-btn"
          href="/tours/new"
          >Добавить</a
        >
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
      <div class="btn-group-vertical w-100 m-1">
        <a
          class="btn btn-lg btn-primary w-100 p-4"
          id="countries-btn"
          href="/buses"
          >Автобусы</a
        >
        <a
          class="btn btn-lg btn-success w-100 p-4"
          id="countries-btn"
          href="/buses/new"
          >Добавить</a
        >
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
      <div class="btn-group-vertical w-100 m-1">
        <a
          class="btn btn-lg btn-primary w-100 p-4"
          id="countries-btn"
          href="/clients"
          >Клиенты</a
        >
        <a
          class="btn btn-lg btn-success w-100 p-4"
          id="countries-btn"
          href="/clients/new"
          >Добавить</a
        >
      </div>
    </div>
  </div>

  <div class="row w-100 mb-5">
    <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
      <div class="btn-group-vertical w-100 m-1">
        <a
          class="btn btn-lg btn-primary w-100 p-4"
          id="countries-btn"
          href="/periods"
          >Периоды</a
        >
        <a
          class="btn btn-lg btn-success w-100 p-4"
          id="countries-btn"
          href="/periods/new"
          >Добавить</a
        >
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
      <div class="btn-group-vertical w-100 m-1">
        <a
          class="btn btn-lg btn-primary w-100 p-4"
          id="countries-btn"
          href="/templates"
          >Шаблоны</a
        >
        <a
          class="btn btn-lg btn-success w-100 p-4"
          id="countries-btn"
          href="/templates/new"
          >Добавить</a
        >
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
      <div class="btn-group-vertical w-100 m-1">
        <a
          class="btn btn-lg btn-primary w-100 p-4"
          id="countries-btn"
          href="/managers"
          >Менеджеры</a
        >
        <a
          class="btn btn-lg btn-success w-100 p-4"
          id="countries-btn"
          href="/managers/new"
          >Добавить</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
