{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img class="img-fluid" src="/assets/images/logos/logo.png">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-center collapse navbar-collapse flex-grow-1 text-right" id="navbarScroll">
            <ul class="navbar-nav ms-auto me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 170px;">
                <li class="nav-item">
                    <p class="btn btn-dark rounded text-light text-center m-1">Привет, {{ login }}</p>
                </li>
                <li class="nav-item">
                    <p class="btn rounded text-dark text-center m-1" id="clock"></p>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success rounded text-light text-center m-1 {% if login != 'sadmin' %} {{ 'disabled' }} {% endif %}" href="/admins" tabindex="-1" aria-disabled="true">Admins</a>
                    <a class="btn btn-outline-success rounded text-dark text-center m-1" id="logout-btn">Выйти</a>
                    <a class="btn btn-success rounded text-light text-center m-1" href="/admin" id="main-btn">Главная</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript" src="assets/scripts/clock.js"></script>
<script type="text/javascript" src="assets/scripts/login/logout.js"></script>
{% endblock %}