{% block table %}
	<table class="table table-bordered border-secondary table-responsive table-sm table-xl table-md table-xs table-hover text-center w-100" id="table">
		<tr>
			<th scope="col"><input type="checkbox" id="check-all"/></th>
			{% for room in rooms %}
				<th scope="col">
					<input type="checkbox" id="select"/>
				</th>
			{% endfor %}
		</tr>

		<tr>
			<th scope="col">Описание</th>
			{% for room in rooms %}
				<th scope="col">
					<span>
						{{ room.description }}
					</span>
				</th>
			{% endfor %}
		</tr>

		<tr class="bg-warning text-dark">
			<td class="w-auto text-center">Удобства</td>
			{% for room in rooms %}
				<td>
					<span>
						{% for comfort in room.comforts %}
							{{ comfort }}
						{% endfor %}
					</span>
				</td>
			{% endfor %}
		</tr>

		<tr>
			<td class="w-auto text-center">Питание</td>
			{% for room in rooms %}
				<td>
					<span>
						{% for food_item in room.food %}
							{{ food_item }}
						{% endfor %}
					</span>
				</td>
			{% endfor %}
		</tr>

		<tr class="bg-warning text-dark">
			<td class="w-auto text-center">Заезды/Выезды</td>
			{% for room in rooms %}
				<td>
					<span>
						{% for date in room.checkin_checkout_dates %}
							{% set dateList = date | split(',') %}
							{% for item in dateList %}
								{{ item }}
							{% endfor %}
						{% endfor %}
					</span>
				</td>
			{% endfor %}
		</tr>

		<tr>
			<td class="w-auto text-center"></td>
			{% for room in rooms %}
				<td>
					<button class="btn btn-warning">Изменить</button>
				</td>
			{% endfor %}
		</tr>


	</table>
{% endblock %}
