{% extends "base.html.twig" %} {% block content %}
<div class="container-xs container-sm container-md container-xl w-100">
  <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
    <p class="h1 m-auto text-center mt-2 mb-2">{{ header | upper }}</p>
  </div>

  {% use 'components/dashboard.html.twig' %}
  {% block dashboard %}
  {{ parent() }}
  {% endblock %}
</div>
{% endblock %}