{% block contract %}<div style="text-align: center;">
<div style="text-align: center; line-height: 1.2;">
<p style="line-height: 1.1;">&nbsp;</p>
<table style="border-collapse: collapse; width: 100%; border-width: 0px; margin-left: 0px; margin-right: auto;" border="1"><colgroup><col style="width: 50%;"><col style="width: 50%;"></colgroup>
<tbody>
<tr>
<td style="border-width: 0px; line-height: 1.1;">
<div><span style="font-size: 10pt;">Общество с дополнительной ответственностью</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;">irianna_logo</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;">РБ г. Минск, ул. Сурганова 61, офис 504</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;">р/с BY26AKBB30120144612505300000 в филиале 514</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;">АСБ &ldquo;Беларусбанк&rdquo; г. Минск, код 614, УНП 190135143</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;">телефон 8029624121, 80296300032, 80173880402</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;"><strong>ТУРИСТИЧЕСКАЯ ПУТЕВКА</strong></span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>ФИО туриста:</strong> client_name</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Дата рождения:</strong> client_birthdate</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Паспорт:</strong> client_passport</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Телефоны:</strong> client_main_phone, client_second_phone</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Дом. Адрес:</strong> client_address</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Маршрут:</strong> bus_route</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Сроком с:</strong> from_minsk_date по arrival_to_minsk</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Стоимость:</strong> service_cost_in_BYN BYN,&nbsp; tour_price_in_curr currency</span></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: center;"><span style="font-size: 10pt;">Условия</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>&nbsp;</strong></span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Размещение:</strong> resort_name - hotel_name</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Тип номера:</strong> room_description</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Питание:</strong> room_food</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Проезд:</strong> transfer_direction трансфер: transfer_type</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Место, время отъезда:</strong> станция &ldquo;Дружная&rdquo; ул. Вокзальная&nbsp;</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;">Также_____________________________________________________________</span></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;"><span style="font-size: 10pt;">Дата выдачи today_date</span></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;"><span style="font-size: 10pt;">Подпись лица, выдавшего путевку __________________________________________</span></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;"><span style="font-size: 10pt;">С условиями поездки ознакомлен __________________________________________</span></div>
</td>
<td style="text-align: left; border-width: 0px;">
<div style="text-align: center; line-height: 1.1;"><span style="font-size: 10pt;">Общество с дополнительной ответственностью</span></div>
<div style="text-align: center; line-height: 1.1;"><span style="font-size: 10pt;">irianna_logo</span></div>
<div style="text-align: center; line-height: 1.1;"><span style="font-size: 10pt;">РБ г. Минск, ул. Сурганова 61, офис 504</span></div>
<div style="text-align: center; line-height: 1.1;"><span style="font-size: 10pt;">р/с BY26AKBB30120144612505300000 в филиале 514</span></div>
<div style="text-align: center; line-height: 1.1;"><span style="font-size: 10pt;">АСБ &ldquo;Беларусбанк&rdquo; г. Минск, код 614, УНП 190135143</span></div>
<div style="text-align: center; line-height: 1.1;"><span style="font-size: 10pt;">телефон 8029624121, 80296300032, 80173880402</span></div>
<div style="text-align: center; line-height: 1.1;"><span style="font-size: 10pt;"><strong>ТУРИСТИЧЕСКАЯ ПУТЕВКА</strong></span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>ФИО туриста:</strong> client_name</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Дата рождения:</strong> client_birthdate</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Паспорт:</strong> client_passport</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Телефоны:</strong> client_main_phone, client_second_phone</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Дом. Адрес:</strong> client_address</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Маршрут:</strong> bus_route</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Сроком с:</strong> from_minsk_date по arrival_to_minsk</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Стоимость:</strong> service_cost_in_BYN BYN,&nbsp; tour_price_in_curr currency</span></div>
<div style="line-height: 1.1;">&nbsp;</div>
<div style="line-height: 1.1; text-align: center;"><span style="font-size: 10pt;">Условия</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>&nbsp;</strong></span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Размещение:</strong> resort_name - hotel_name</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Тип номера:</strong> room_description</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Питание:</strong> room_food</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Проезд:</strong> transfer_direction трансфер: transfer_type</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;"><strong>Место, время отъезда:</strong> станция &ldquo;Дружная&rdquo; ул. Вокзальная&nbsp;</span></div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;">Также_____________________________________________________________</span></div>
<div style="line-height: 1.1;">&nbsp;</div>
<div style="line-height: 1.1;">&nbsp;</div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;">Дата выдачи today_date</span></div>
<div style="line-height: 1.1;">&nbsp;</div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;">Подпись лица, выдавшего путевку __________________________________________</span></div>
<div style="line-height: 1.1;">&nbsp;</div>
<div style="line-height: 1.1;"><span style="font-size: 10pt;">С условиями поездки ознакомлен ___________________________________________</span><span style="font-size: 10pt;">&nbsp;</span></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>{% endblock %}