{% block nav %}
<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<img class="img-fluid" src="/assets/images/logos/logo.png">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
			aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="text-center collapse navbar-collapse flex-grow-1 text-right" id="navbarScroll">
			<ul class="navbar-nav mx-auto navbar-nav-scroll" style="--bs-scroll-height: 190px;">
				<li class="nav-item">
					<p class="btn btn-outline-dark rounded text-center m-1">Привет, {{ login }}</p>
					<p class="btn rounded text-dark text-center m-1" id="clock"></p>
				</li>
				<li class="nav-item">
					<div class="input-group m-1">
						<a class="btn btn-success text-light text-center {% if login != 'sadmin' %} {{ 'disabled' }} {% endif %}"
							href="/admins" tabindex="-1" aria-disabled="true">Менеджеры</a>
						<a class="btn btn-outline-secondary text-danger text-center" id="logout-btn">Выйти</a>
						<a class="btn btn-secondary text-light text-center" id="dashboard-btn"
							href="/admin/dashboard">Меню</a>
						<a class="btn btn-success text-light text-center" href="/tours/new"
							id="main-btn">Главная</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script type="text/javascript" src="/assets/scripts/clock.js"></script>
<script type="text/javascript" src="/assets/scripts/login/logout.js"></script>
{% endblock %}