{% block table %}

<table
    class="table table-sm table-secondary table-bordered border-light table-hover"
    id="table"
>
	<tr>
        {% for date in table.dates %}
		    <th>{{ date.from }}{{ '-' }}{{ date.to }}</th>
        {% endfor %}
	</tr>
</table>

<script type="text/javascript" src="/assets/scripts/net/net.js"></script>
{% endblock %}
