{% block table %}

	<table class="table table-sm table-secondary table-bordered border-light" id="table">
        <tr>
            {% for header in table.tableHeaders %}
                <th>
                    <small>
                        {{ header }}
                    </small>
                </th>
            {% endfor %}
        </tr>
		<tr>
			{% for row in table.tableRows %}
				<td>
                    {{ row.date }}
                </td>
                {% for status in row.statuses %}
                    <td>
                        {{ status }}
                    </td>
                {% endfor %}
			{% endfor %}
		</tr>
	</table>

	 <script type="text/javascript" src="/assets/scripts/net/net.js"></script>
{% endblock %}
