{% block voucher %}<div style="text-align: center;">
<div style="text-align: center; line-height: 1.2;">
<p style="line-height: 1.3;">&nbsp;</p>
<table style="border-collapse: collapse; width: 100%; border-width: 0px; margin-left: 0px; margin-right: auto;" border="1"><colgroup><col style="width: 50%;"><col style="width: 50%;"></colgroup>
<tbody>
<tr>
<td style="border-width: 0px; line-height: 1.3;">
<div><span style="font-size: 10pt;">Общество с дополнительной ответственностью</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;"><img src="/assets/images/logos/logo.png"></span></div>
<div style="text-align: center;"><span style="font-size: 10pt;">РБ г. Минск, ул. Сурганова 61, офис 504</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;">р/с BY26AKBB30120144612505300000 в филиале 514</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;">АСБ &ldquo;Беларусбанк&rdquo; г. Минск, код 614, УНП 190135143</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;">телефон 8029624121, 80296300032, 80173880402</span></div>
<div style="text-align: center;"><span style="font-size: 10pt;"><strong>ТУРИСТИЧЕСКАЯ ПУТЕВКА</strong></span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>ФИО туриста:</strong> Петров Иван Васильевич</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Дата рождения:</strong> 1990-07-14</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Паспорт:</strong> МС7778800</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Телефоны:</strong> +375-33-444-55-66, +375-33-555-66-77</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Дом. Адрес:</strong> Минск, ул. Ангарская, 45-1</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Маршрут:</strong> Минск-Кабардинка-Минск</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Сроком с:</strong> 03.06.2023 по 11.06.2023</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Стоимость:</strong> 400_in_BYN BYN,&nbsp; tour_price_in_curr currency</span></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;"><span style="font-size: 10pt;">Условия</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>&nbsp;</strong></span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Размещение:</strong> Кабардинка (Геленджик) - Гостиный дом "Татьяна"</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Тип номера:</strong> 2-3 места</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Питание:</strong> Завтрак</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Проезд:</strong> Туда-Обратно трансфер: 0</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;"><strong>Место, время отъезда:</strong> станция &ldquo;Дружная&rdquo; ул. Вокзальная&nbsp;</span></div>
<div style="text-align: left;"><span style="font-size: 10pt;">Также_____________________________________________________________</span></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;"><span style="font-size: 10pt;">Дата выдачи 10-02-2323</span></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;"><span style="font-size: 10pt;">Подпись лица, выдавшего путевку __________________________________________</span></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;"><span style="font-size: 10pt;">С условиями поездки ознакомлен __________________________________________</span></div>
</td>
<td style="text-align: left; border-width: 0px;">
<div style="text-align: center; line-height: 1.3;"><span style="font-size: 10pt;">Общество с дополнительной ответственностью</span></div>
<div style="text-align: center; line-height: 1.3;"><span style="font-size: 10pt;"><img src="/assets/images/logos/logo.png"></span></div>
<div style="text-align: center; line-height: 1.3;"><span style="font-size: 10pt;">РБ г. Минск, ул. Сурганова 61, офис 504</span></div>
<div style="text-align: center; line-height: 1.3;"><span style="font-size: 10pt;">р/с BY26AKBB30120144612505300000 в филиале 514</span></div>
<div style="text-align: center; line-height: 1.3;"><span style="font-size: 10pt;">АСБ &ldquo;Беларусбанк&rdquo; г. Минск, код 614, УНП 190135143</span></div>
<div style="text-align: center; line-height: 1.3;"><span style="font-size: 10pt;">телефон 8029624121, 80296300032, 80173880402</span></div>
<div style="text-align: center; line-height: 1.3;"><span style="font-size: 10pt;"><strong>ТУРИСТИЧЕСКАЯ ПУТЕВКА</strong></span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>ФИО туриста:</strong> Петров Иван Васильевич</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Дата рождения:</strong> 1990-07-14</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Паспорт:</strong> МС7778800</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Телефоны:</strong> +375-33-444-55-66, +375-33-555-66-77</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Дом. Адрес:</strong> Минск, ул. Ангарская, 45-1</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Маршрут:</strong> Минск-Кабардинка-Минск</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Сроком с:</strong> 03.06.2023 по 11.06.2023</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Стоимость:</strong> 400_in_BYN BYN,&nbsp; tour_price_in_curr currency</span></div>
<div style="line-height: 1.3;">&nbsp;</div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;">Условия</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>&nbsp;</strong></span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Размещение:</strong> Кабардинка (Геленджик) - Гостиный дом "Татьяна"</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Тип номера:</strong> 2-3 места</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Питание:</strong> Завтрак</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Проезд:</strong> Туда-Обратно трансфер: 0</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;"><strong>Место, время отъезда:</strong> станция &ldquo;Дружная&rdquo; ул. Вокзальная&nbsp;</span></div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;">Также_____________________________________________________________</span></div>
<div style="line-height: 1.3;">&nbsp;</div>
<div style="line-height: 1.3;">&nbsp;</div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;">Дата выдачи 10-02-2323</span></div>
<div style="line-height: 1.3;">&nbsp;</div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;">Подпись лица, выдавшего путевку __________________________________________</span></div>
<div style="line-height: 1.3;">&nbsp;</div>
<div style="line-height: 1.3;"><span style="font-size: 10pt;">С условиями поездки ознакомлен ___________________________________________</span><span style="font-size: 10pt;">&nbsp;</span></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>{% endblock %}